  <div class="contents row">
    <div class="success">
      <h3 class="message">
        Deletion complete !
      </h3>
      <div class="btn-box">
        <a class="btn" href="/">投稿一覧へ戻る</a>
        </div>
    </div>
  </div>