<div class="row row-main">
  <div class="new-content">
    <%= form_tag('/articles', method: :post) do %>
      <h3>
        投稿する
      </h3>
      <input placeholder="title" type="text" name="title">
      <input placeholder="Image Url" type="text" name="image">
      <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>