<div class="row row-main">
  <div class="success">
    <h3 class="message">
      Update complete !
    </h3>
    <div class="btn-box">
      <a class="btn btn-arrange" href="/">投稿一覧へ戻る</a>
    </div>
  </div>
</div>