/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */
 @import "./reset";
 @import "materialize/components/color-variables";
  $primary-color: color("orange", "lighten-2") !default;
  $secondary-color: color("yellow", "base") !default;
 @import "materialize";


 .nav-wrapper{
   padding-left: 20px;
   padding-right: 20px;
 }
 footer{
   margin-top: -20px;
 }
 
 .btn-devise{
  color: #777777; 
  margin-top: 20px;
  width: 30%;
}
.content_more{
  float: right;
  margin: 20px;
  width: 10vw;
  .content_user{
    .btn-change1{
      background-color: #FFCC33;
      width: 80px;
      margin: 0px 30px 10px 0px;
    }
    .btn-change2{
      background-color: #FFCC33;
      width: 80px;
      margin: 10px 30px 10px 0px;
    }
  }
}
